/* Write your CSS code here */

.logo-image {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.currency-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.usd-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.currency-name1 {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  margin-right: 150px;
}
